#table {
    width: 700px;
    height: 300px;
    margin: 0 auto;
    border-radius: 40px;
    border-color: green;
    border-style: solid;
    padding: 48px;
    position: relative;
}

section.table-cards {
  margin: 0 auto;
  position: relative;
  width: 600px
}

#player {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 40px;
  border-color: black;
  border-style: solid;
  padding: 48px;
  position: relative;
  margin-top: 50px;
}

section.player-cards {
  margin: 0 auto;
  position: relative;
  width: 300px
}