#table {
    width: 90%;
    margin: 0 auto;
    border-radius: 40px;
    border-color: green;
    border-style: solid;
    padding: 48px;
}

section.table-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.player-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}